
<h2 style="clear: both">Guess the movie, click the box, and see the answer!</h2>
<br>

<% @movies.each do |movie| %>

<div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
  <div class="wrapper cards">
    <div class="container">
      <div class="card">
        <div class="front">
          <% if movie.front_text? %>

          <h3>"<%= movie.front_text%>"</h3>
          <% end %>
          <% if movie.front_image? %>
          <img src="<%= movie.front_image %>" alt="">
          <% end %>
        </div>
        <div class="back">
          <div class="content">
            <div class="movie-img">
              <h4><%= movie.back_text %></h4>
              <img src="<%= movie.back_image %>" alt="">
              <%title = movie.title.downcase.gsub " ", "_" %>
            </div>
            <div class="bad-tomato">
              <a href="http://www.rottentomatoes.com/m/<%=title%>/" target="_blank"><img class="tomato" src="http://i1268.photobucket.com/albums/jj576/randerTw/tomato-icon_zpsrusk5mgv.jpg"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box"></div>

<% end %>

<div class="spacing">
</div>

<div class="spacing">
</div>

<center>
<div class="new-button"><h3><%= link_to 'Create your own!', new_movie_path %></h3></div>
</center>


